#PROJECT{

background-color:#f0f2f5 ;
transition: .4s;

}
#dark #PROJECT{
  background-color: #3b3b3b;
  transition: .4s;

}
.Project{
    padding-left: 50px;
}

.naugthy-project{
    bottom:19px;
    left: -50px;
    position: relative;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    color: #8E7DED;
 transform: rotate(-20deg);
 -ms-transform: rotate(-20deg);
}
.lineproject{
    width: 350px;
    margin-top: 50px;
    margin-bottom: 25px;
    height: 2px;
  background-color: black;
}
#dark .lineproject{
  background-color: #f0f2f5;
}
/* 
.link-page{
  position: relative;
left: -200px;
}
.link-page-todo{
  position: relative;
left: -200px;
}
.link-page-terra{
  position: relative;
left: -200px;
}
.todo{
  margin-top: 70px;
}
.terra{
   
}




.link{
  margin-left: -80px;
}
.git{
  font-size: 40px;
  margin-left: 30px;
  color: #8E7DED;
}
#dark .git{
  text-shadow: 0 0 20px #9b8cf0 ;
}
.link-page-git{
  margin-left: -150px;
}*/
.imgprojek{
  width: 350px;
  border-radius: 20px;
  margin-bottom: 40px;
}
.todogit{
  font-size: 35px;
  margin-left: 30px;
  color: #8E7DED;
}
#dark .rinci-project{
  color: #f0f2f5bb;
}
#dark .todogit{
  text-shadow: 0 0 20px #9b8cf0d0 ;
}
.rinci-project{
  font-size: 16px;
 
  font-family: 'Nunito', sans-serif;
    color: rgba(79, 79, 79, 0.762);
}
.linkweb{
  transform: rotate(50deg);

  font-size: 35px;
  color: #8E7DED;
}
.linkprojek{
  margin-left: 10px;
}
@media  screen and (max-width:1024px){
  #PROJECT{
    
    background-color:#f0f2f5 ;
    }
    .title-projk{
      margin-right: 30px
    }
    .todogit{
      font-size: 26px;
      margin-left: 30px;
      margin-top: -6px;
      color: #8E7DED;
    }
    
    .linkweb{
      transform: rotate(50deg);
    margin-left: 0px;
      font-size: 26px;
      color: #8E7DED;
    }
    .linkprojek{
      
    }
    .rinci-project{
      font-size: 12px;
    
      margin-right: 40px;
      font-family: 'Nunito', sans-serif;
        color: rgb(189, 189, 189);
    }


  .Project{
    padding-left: 40px;
}

.naugthy-project{
    bottom:-1px;
    left: -40px;
    position: relative;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    color: #8E7DED;
 transform: rotate(-20deg);
 -ms-transform: rotate(-20deg);
 font-size: 10px;
}
.lineproject{
    width: 150px;
    margin-top: 25px;
    margin-bottom: 30px;
    height: 2px;
  background-color: black;
}.imgprojek{
  width: 200px;
  border-radius: 20px;
  margin-bottom: 40px;
}

}