@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');

.SKILL{
    background-color: #f0f2f5;
    transition: .4s;   
   padding-left: 80px;
}
#dark .SKILL{
    background-color: #3b3b3b;
    transition: .4s;

}
.naugthy-skill{
    bottom:60px;
    left: -25px;
    position: relative;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    color: #8E7DED;
 transform: rotate(-20deg);
 -ms-transform: rotate(-20deg);
 background-color: transparent;
}
.page-skill1{
   
}
.page-skil{
 
}
.Title-skill{
    margin-top: 40px;
   
}
.Skill-intro{
    font-size: 50px;
    font-weight: 700;
}
#dark .Skill-intro{
    color: #f0f2f5;
}
.skill-title{
    padding-top: 50px;
    margin-bottom: 20px;
}

.skill{
  
    font-size: 50px;
    justify-content: center;
    flex-wrap: wrap;
    
}

.padding{
   
    
    text-shadow: 0 0 9px rgba(255, 255, 255, 0.727);
   
    
}
#dark{
    color: #f0f2f5;
}

.rincian{

    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    margin-left: 80px;
    color: rgba(79, 79, 79, 0.762);
}
#dark .rincian{
    color: #f0f2f5ae;
}

.intro{
    color: rgba(79, 79, 79, 0.762);
    font-family: 'Nunito', sans-serif;
    
}
#dark .intro{
    color: #f0f2f5ae;
}
.nilai{
    font-size: 15px;
    font-family: 'Nunito', sans-serif;
    color: rgba(79, 79, 79, 0.762);
}
#dark .nilai{
    color: #f0f2f5ae;
  
}
.img-about{
    width: 460px;
}


#dark .myskil{
    color: #f0f2f5;
}
@media screen and (max-width:1024px){

    .SKILL{
        background-color: #f0f2f5;
        padding-left: 30px;
    }
   

.atribut{
  
}
.rincian{
    font-size: 10px;
    margin-left: 0px;
}
.myskil{
    padding-left: 40px;
    font-size: 18px;
}


.naugthy-skill{
    bottom:15px;
    left: -5px;
    position: relative;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    color: #8E7DED;
 transform: rotate(-20deg);
 -ms-transform: rotate(-20deg);
 background-color: transparent;
 font-size: 10px;
}
.page-skill1{
    padding-left: 0;
    padding-top: 0px;
}
.page-skil{
    margin-top: 70px;
    flex-wrap: wrap;
     
}
.Title-skill{
    margin-top: 40px;
   
}
.Skill-intro{
    font-size: 30px;
    font-weight: 700;
}
.skill-title{
    padding-top: 50px;
    margin-bottom: 20px;
}

.skill{
    font-size: 10px;
    flex-wrap: wrap;
   position: relative;
   top: 50px;
   margin-left: 0px;
}

.padding{

    font-size: 30px;
}
.intro{
    color: rgba(79, 79, 79, 0.762);
    font-family: 'Nunito', sans-serif;
    font-size: 10px;
    position: relative;
    left: -10px;
}
.nilai{
    font-size: 10px;
    margin-left: 10px;
}
.img-about{
    width: 460px;
}
.experince{
    padding-top: 70px;
    padding-bottom: 30px;
    position: relative;
    top: -20px;
    
}
b{
    font-size: 10px;
}
.smpn{
    font-size: 18px;
}
}